<h2>Fornecedores</h2>
<% @suppliers.each do |s| %>
  <p><strong><%= s.brand_name %></strong></p>
  <p> <%= s.city %> - <%= s.state %> </p>
<% end %>


<% if @suppliers.empty? %>
  <p>Não existem fornecedores cadastrados.</p>
<% end %>
<%= link_to('Voltar', root_path) %>